*{
    margin: 0;
    border: 0;
}
.mainDiv{
    position: relative;
    max-width: 680px;
    text-align: justify;
}
#leftImg{
    float: left;
    margin: 0 20px 2px 0;
    box-sizing: content-box;
}

#rightImg{
    
    float: right;
    padding: 20px 0 20px 20px;
    background-color: white;
}